<!--<header>-->
<!--    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">-->
<!--        <div class="container-fluid">-->
<!--            <a class="navbar-brand" th:href="@{/}">PDFLO</a>-->
<!--            <div class="collapse navbar-collapse" id="navbarCollapse">-->
<!--                <ul class="navbar-nav me-auto mb-2 mb-md-0">-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item" th:if="${session['id']} != null">-->
<!--                        <a class="nav-link" th:href="@{/member/mypage}" th:text="#{a.mypage}"></a>-->
<!--                    </li>-->
<!--                    <li class="nav-item" th:if="${session['id']} != null">-->
<!--                        <a class="nav-link disabled"th:href="@{/item/upload}" th:text="#{a.upload}" tabindex="-1" aria-disabled="true"></a>-->
<!--                    </li>-->
<!--                    <li class="nav-item" th:if="${session['id']} != null">-->
<!--                        <a class="nav-link disabled"th:href="@{/member/logout}" th:text="#{a.logout}" tabindex="-1" aria-disabled="true"></a>-->
<!--                    </li>-->
<!--                    <li class="nav-item" th:if="${session['id']} == null">-->
<!--                        <a class="nav-link disabled"th:href="@{/member/login}" th:text="#{a.login}" tabindex="-1" aria-disabled="true"></a>-->
<!--                    </li>-->
<!--                    <li class="nav-item" th:if="${session['id']} == null">-->
<!--                        <a class="nav-link disabled"th:href="@{/member/signUp}" th:text="#{a.signUp}" tabindex="-1" aria-disabled="true"></a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--                <form class="d-flex">-->
<!--                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--                    <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->
<!--</header>-->

<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-muted">국내 최대 PDF 판매 사이트 PDFLO. 자신의 지식을 공유해보세요.</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <ul class="list-unstyled">
                        <li><a th:if="${session['id']} != null" th:href="@{/member/mypage}" class="text-white" th:text="#{mypage}"></a></li>
                        <li><a th:if="${session['id']} != null" th:href="@{/item/upload}" class="text-white" th:text="#{upload}"></a></li>
                        <li><a th:if="${session['id']} != null" th:href="@{/member/logout}" class="text-white" th:text="#{logout}"></a></li>
                        <li><a th:if="${session['id']} == null" th:href="@{/member/login}" class="text-white" th:text="#{login}"></a></li>
                        <li><a th:if="${session['id']} == null" th:href="@{/member/signUp}" class="text-white" th:text="#{signUp}"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a th:href="@{/}" class="navbar-brand d-flex align-items-center">
                <strong>PDFLO</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>