<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-muted">국내 최대 PDF 판매 사이트 PDFLO. 자신의 지식을 공유해보세요.</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <ul class="list-unstyled">
                        <li><img th:if="${session['id']} != null and ${session['profile']} != null" th:src="|/images/${session['profile']}|" alt="썸네일페이지"></li>
                        <li><a th:if="${session['id']} != null" th:href="@{/member/mypage}" class="text-white" th:text="#{mypage}"></a></li>
                        <li><a th:if="${session['id']} != null" th:href="@{/item/upload}" class="text-white" th:text="#{upload}"></a></li>
                        <li><a th:if="${session['id']} != null" th:href="@{/cart}" class="text-white" th:text="#{cart}"></a></li>
                        <li><a th:if="${session['id']} != null" th:href="@{/member/logout}" class="text-white" th:text="#{logout}"></a></li>
                        <li><a th:if="${session['id']} == null" th:href="@{/member/login}" class="text-white" th:text="#{login}"></a></li>
                        <li><a th:if="${session['id']} == null" th:href="@{/member/signUp}" class="text-white" th:text="#{signUp}"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a th:href="@{/}" class="navbar-brand d-flex align-items-center">
                <strong>PDFLO</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>