<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>비밀번호 확인 페이지</title>
    <th:block th:replace="fragments/head.html"></th:block>
    <link rel="stylesheet" href="/css/member/signUp.css">
    <style>
        body{
            display:block;
            padding-top : 0px;
        }
    </style>
</head>
<body>
<th:block th:replace="fragments/header.html"></th:block>
    <main class="form-signin">
        <h1 class="h3 mb-3 fw-normal text-center" th:text="'비밀번호를 다시 입력해주세요.'"></h1>
        <form role="form" th:action th:object="${passwordForm}" method="post">
            <input type="password" class="form-control" th:field="*{password}" placeholder="비밀번호를 입력해주세요.">
            <div class="field-error" th:errors="*{password}"></div>
            <button class="w-100 btn btn-lg btn-primary" th:text="'확인하기'"></button>
        </form>
    </main>
<th:block th:replace="fragments/footer.html"></th:block>
</body>
</html>