<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원정보 수정 페이지입니다.</title>
    <th:block th:replace="fragments/head.html"></th:block>
</head>
<body>
<th:block th:replace="fragments/header.html"></th:block>
<div th:object="${passwordForm}">
    <div>비밀번호 수정하기</div>
    <form th:action method="post">
        <input type="password" class="form-control" th:field="*{password}" placeholder="비밀번호를 입력해주세요.">
        <div class="field-error" th:errors="*{password}"></div>
        <input type="submit" value="확인">
    </form>
</div>
</html>