<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>마이페이지입니다.</title>
    <th:block th:replace="fragments/head.html"></th:block>
</head>
<body>
    <th:block th:replace="fragments/header.html"></th:block>
    안녕하세요~ <th:block th:text="${username}"/><br>
    내 포인트 : <th:block th:text="${point}"/><br>

    <a href="/member/charge">포인트충전하러가기</a><br>
    <a href="/member/point?pageNum=0">포인트사용내역보러가기</a><br>
    <a href="/member/order?pageNum=0">주문내역보러가기</a><br>
    <a href="/member/item?pageNum=0">내가 등록한 상품 보러가기</a><br>
    <a href="/member/profile">프로필사진등록 및 수정하기</a><br>
    <button type="button" id="deleteProfileBtn" th:text="#{button.profileDelete}"></button>
    <a th:if="${session['checkPassword']} == null" th:href="@{/member/check}">회원정보 변경하기</a>
    <a th:if="${session['checkPassword']} != null" th:href="@{/member/password}">비밀번호 수정하기</a>
    <button th:if="${session['checkPassword']} != null" id="memberDeleteBtn" type="button">회원 탈퇴하기</button>
    <th:block th:replace="fragments/footer.html"></th:block>
</body>
<script>
    $('#deleteProfileBtn').on('click', function (){
        $.ajax({
            url: "/member/profile",
            type: "DELETE",
            success: function(data){
                if(data == "SUCCESS"){
                    alert("프로필 삭제 성공")
                }else if(data == "MEMBER_NO_EXIST"){
                    alert("로그인을 먼저 진행해주세요.");
                    window.location.href = "/member/login?redirectURL=/member/mypage";
                }else if (data == "PROFILE_NO_EXIST") {
                    alert("프로필을 먼저 등록해주세요.");
                }
            },
            error:function(){
                alert("다시 한 번 시도해주세요.");
            }
        });
    });

    $('#memberDeleteBtn').on('click', function(){
        console.log("memberDeleteBtn");
        $.ajax({
            url: "/member",
            type: "DELETE",
            success: function(data){
                if(data == "SUCCESS"){
                    alert("회원 탈퇴 성공");
                    window.location.href = "/";
                }else if(data == "MEMBER_NO_EXIST"){
                    alert("로그인을 먼저 진행해주세요.");
                    window.location.href = "/member/login?redirectURL=/member/mypage";
                }
            },
            error:function(){
                alert("다시 한 번 시도해주세요.");
            }
        });
    });
</script>
</html>