<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>내주문내역</title>
    <th:block th:replace="fragments/head.html"></th:block>
</head>
<body>
<th:block th:replace="fragments/header.html"></th:block>
    <th:block th:if="${not #arrays.isEmpty(orderItems)}">
        <div class="album py-5 bg-light">
            <div class="container">
                <h1>주문 상세 내역</h1>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col" th:each="orderItem : ${orderItems}">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <img th:src="|/images/${orderItem.thumbnail}|" alt="상품썸네일">
                                        <p>주문 상품 : <span th:text="${orderItem.title}"></span></p>
                                        <p>주문 금액 : <span th:text="${orderItem.orderPrice}"></span></p>
                                        <p>주문 날짜 : <span th:text="${orderItem.createdDate}"></span></p>
                                        <a th:href="@{/item/{itemId}(itemId= ${orderItem.itemId})}">자세히 보러 가기</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

<th:block th:replace="fragments/footer.html"></th:block>

</body>
</html>