<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>내주문내역</title>
    <th:block th:replace="fragments/head.html"></th:block>
</head>
<body>
    <th:block th:replace="fragments/header.html"></th:block>

    주문내역!<br>
    <th:block th:if="${not #arrays.isEmpty(orders)}">
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col" th:each="order : ${orders}">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <p>주문 날짜 : <span th:text="${order.createdDate}"></span></p>
                                        <p>주문 금액 : <span th:text="${order.totalPrice}"></span></p>
                                        <p>구매한 상품 수 : <span th:text="${order.orderCount}"></span></p>
                                        <a th:href="@{/order/{orderId}(orderId= ${order.orderId})}">자세히 보러 가기</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a th:if="${prevPageNum} != null" th:href="@{/member/order?pageNum={prevPageNum}(prevPageNum = ${prevPageNum})}">...</a>
                <div th:if="${startPageNum} != null and ${endPageNum} != null">
                    <th:block th:each="num : ${#numbers.sequence(startPageNum,endPageNum)}">
                        <a th:href="@{/member/order?pageNum={pageNum}(pageNum = ${num})}" th:text="${num + 1}"></a>
                    </th:block>
                </div>
                <a th:if="${nextPageNum} != null" th:href="@{/member/order?pageNum={nextPageNum}(nextPageNum = ${nextPageNum})}">...</a>
            </div>
        </div>
    </th:block>

</body>
</html>