<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원가입페이지</title>
    <th:block th:replace="fragments/head.html"></th:block>
    <link rel="stylesheet" href="/css/member/signUp.css">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
        body{
            display:block;
            padding-top : 0px;
        }
    </style>
</head>
<body>
<th:block th:replace="fragments/header.html"></th:block>
<main class="form-signin">
    <h1 class="h3 mb-3 fw-normal text-center">Please sign in</h1>
    <form role="form" th:action th:object="${signUpForm}" method="post">
        <label class="text-start" th:text="#{label.username}"></label>
        <input type="text" class="form-control" th:field="*{username}" th:errorclass="field-error" placeholder="아이디를 입력해주세요.">
        <small>아이디는 영어로 시작하고, 5 ~ 15자의 영어/숫자로 이루어져야합니다.</small>
        <div class="field-error" th:errors="*{username}"></div>
        <button type="button" class="w-100 btn btn-sm btn-secondary"  id="duplicateCheckBtn">아이디 중복체크</button>
        <label class="text-start" th:text="#{label.email}"></label>
        <div class="emailBox" id="emailBox">
            <input type="email" class="form-control" th:field="*{email}" th:errorclass="field-error" placeholder="이메일을 입력해주세요.">
            <div class="field-error" th:errors="*{email}"></div>
            <button type="button" class="w-100 btn btn-sm btn-secondary"  id="sendMailBtn">메일로 인증 코드 보내기</button>
            <input type="text" class="form-control" id="authCode" placeholder="인증 코드를 입력해주세요." hidden>
            <button type="button" class="w-100 btn btn-sm btn-secondary"  id="authBtn" hidden>인증하기</button>
        </div>
        <label class="text-start"  th:text="#{label.password}"></label>
        <input type="password" class="form-control" th:field="*{password}" th:errorclass="field-error" placeholder="비밀번호를 입력해주세요.">
        <small>비밀번호는 영어로 시작하고, 8 ~ 20자의 영어/숫자/특수문자(!@#$%)로 이루어져야합니다.</small>
        <div class="field-error" th:errors="*{password}"></div>
        <button class="w-100 btn btn-lg btn-primary" th:text="#{button.signUp}"></button>
        <p class="mt-5 mb-3 text-muted text-center">&copy; 2021</p>
    </form>
</main>
<th:block th:replace="fragments/footer.html"></th:block>
</body>
<script>
    $('#sendMailBtn').on('click', function (){
        var email = document.getElementById("email").value;
        console.log("email : " + email);
        $.ajax({
            url: "/member/sendMail",
            type: "POST",
            data: {'email' : email},
            success: function(data){
                if(data == "MEMBER_EMAIL_INVALID"){
                    alert("제대로 된 이메일을 입력해주세요");
                }else{
                    alert("메일 인증 코드를 입력해주세요.");
                    document.getElementById("email").readOnly = true;
                    document.getElementById("sendMailBtn").hidden = true;
                    document.getElementById("authBtn").hidden = false;
                    document.getElementById("authCode").hidden = false;
                }
            },
            error:function(){
                alert("다시 한 번 시도해주세요.");
            }
        });
    });

    $('#authBtn').on('click', function (){
        var email = document.getElementById("email").value;
        var authCode = document.getElementById("authCode").value;
        $.ajax({
            url: "/member/auth",
            type: "POST",
            data: {
                'inputCode' : authCode,
                'email' : email
                },
            success: function(data){
                if(data == true){
                    alert("메일인증성공");
                }else{
                    alert("인증코드가 다릅니다.");
                }
            },
            error:function(){
                alert("다시 한 번 시도해주세요.");
            }
        });
    });

    $('#duplicateCheckBtn').on('click', function (){
        var username = document.getElementById("username").value;
        console.log(username);
        $.ajax({
            url: "/member/duplicateCheck",
            type: "POST",
            data: {'username' : username},
            success: function(data){
                if(data == "MEMBER_NAME_INVALID"){
                    alert("아이디를 입력 양식에 맞게 입력해주세요.");
                }else if (data == "MEMBER_NAME_DUPLICATION"){
                    alert("이미 사용중인 아이디입니다.");
                }else{
                    alert("사용 가능한 아이디입니다.");
                }
            },
            error:function(){
                alert("다시 한 번 시도해주세요.");
            }
        });
    });
</script>
</html>