<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원가입페이지</title>
    <th:block th:replace="fragments/head.html"></th:block>
    <link rel="stylesheet" href="/css/member/signUp.css">
    <style>
        .fieldError{
            border-color: #bd2130;
        }
    </style>
    <script
            src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous">
    </script>
</head>
<body>
<th:block th:replace="fragments/header.html"></th:block>
<div class="signUpBox">
    <div class="signUpTitle">회원가입하기</div>
    <form role="form" th:action th:object="${signUpForm}" method="post">
        <input type="text" th:field="*{username}" th:class="${#fields.hasErrors('username')} ? 'fieldError' : ''"
               placeholder="아이디를 입력해주세요.">
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Incorrect data</p>
        <div class="emailBox">
            <input type="email" th:field="*{email}" placeholder="이메일을 입력해주세요.">
            <button type="button" id="emailButton" th:value="메일인증하기"></button>
        </div>
        <input type="password" th:field="*{password}" placeholder="비밀번호를 입력해주세요.">
        <input type="submit" value="Sign Up">
    </form>
</div>
</body>
<script>
    $('#emailButton').on('click', function (){
        var email = document.getElementById("email").value;
        $.ajax({
            url: "/member/sendMail",
            type: "POST",
            data: {'email' : email},
            success: function(data){
                console.log(data);
                document.getElementById("email").readOnly = true;
                // var emailCodeDiv = document.createElement("div");
                // emailCodeDiv.id = "emailAuth";
                // emailCodeDiv.innerHTML = "<input type='text' th:value='인증코드를 입력해주세요.'>";
                // document.getElementById("testForm").appendChild(emailCodeDiv);
            },
            error:function(){
                alert("실패");
            }
        });
    });
</script>
</html>