<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>비밀번호찾기</title>
    <th:block th:replace="fragments/head.html"></th:block>
</head>
<body>
    <th:block th:replace="fragments/header.html"></th:block>
    회원가입 하실 때 등록한 아이디/이메일을 입력해주세요.
    <form action="/user/findPassword" method="post">
        <input type="text" name = "username" placeholder="아이디를 입력해주세요.">
        <input type="email" name = "email" placeholder="이메일을 입력해주세요.">
        <input type="submit" value="아이디찾기">
    </form>
</body>
</html>