<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>프로필등록페이지</title>
    <th:block th:replace="fragments/head.html"></th:block>
    <link rel="stylesheet" href="/css/user/signUp.css">
</head>
<body>
    <th:block th:replace="fragments/header.html"></th:block>
    <form action="/user/profile" method="post" enctype="multipart/form-data">
        <input type="file" name="profileFile" value="프로필사진을 등록해주세요.">
        <input type="submit" value="등록하기">
    </form>
</body>
</html>