<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>상세페이지</title>
    <th:block th:replace="fragments/head.html"></th:block>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/heroes/">
</head>
<body>
    <th:block th:replace="fragments/header.html"></th:block>
    <div id="itemId" th:text="${item.itemId}" hidden></div>
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img th:src="|/images/${item.thumbnailLocation}${item.thumbnailFileName}|" width="500" height="500" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3" th:text="${item.title}"></h1>
                <p class="lead" th:text="${item.content}"></p>
                <p class="lead" th:text="'가격  ' + ${item.price}"></p>
                <p class="lead" th:text="'작성자  ' + ${item.username}"></p>

                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button th:if="${CLIENT} == true" id="putCartBtn" type="button" class="btn btn-primary btn-lg px-4 gap-3">장바구니에 담기</button>
                    <form th:if="${CLIENT} == true and ${BUYER} == false" th:action="@{/cart/{itemId}(itemId=${item.itemId})}" method="post">
                        <button class="btn btn-primary btn-lg px-4 gap-3">구매하기</button>
                    </form>
                    <form th:if="${BUYER} == true" th:action="@{/item/download/{itemId}(itemId=${item.itemId})}" method="post">
                        <button class="btn btn-secondary btn-lg px-4 gap-3">다운로드하기</button>
                    </form>
                    <form th:if="${SELLER} == true" th:action="@{/item/delete/{itemId}(itemId=${item.itemId})}" method="post">
                        <button class="btn btn-secondary btn-lg px-4 gap-3">상품 판매 중단하기</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
        <form th:if="${BUYER} == true" th:object="${commentForm}" method="post">
            <input type="text" placeholder="후기를 남겨주세요." th:field="*{comment}">
            <small th:text="#{form.comment.comment}"></small>
            <div class="field-error" th:errors="*{comment}"></div>
            <input type="number" min="0.0" max="5.0" th:field="*{score}">
            <small th:text="#{form.comment.score}"></small>
            <button id="commentUploadBtn" class="btn-secondary" type="button" th:text="#{button.commentUpload}"></button>
        </form>
        <br>
        <div th:if="${not #arrays.isEmpty(item.comments)}" class="col-lg-6 mx-auto">
            작성된 후기!<br>
            <div class="list-group" th:each="comment : ${item.comments}">
                <div class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                        <div id="commentId" th:text="${comment.commentId}" hidden></div>
                        <div>
                            <h6 class="mb-0" th:text="'후기  ' + ${comment.comment}"></h6>
                            <h6 class="mb-0" th:text="'별점  ' + ${comment.score}"></h6>
                            <p class="mb-0 opacity-75" th:text="'작성 날짜  ' + ${comment.createdDate}"></p>
                            <p class="mb-0 opacity-75" th:text="'작성자  ' + ${comment.username}"></p>
                            <button class="btn-secondary" th:if="${comment.memberId} == ${session['id']}" type="button" th:id="commentDeleteBtn" th:onclick="deleteComment([[${comment.commentId}]]);" th:text="#{button.commentDelete}"></button>
                            <div th:if="${comment.recommentId} != null">
                                <br>
                                <p>판매자의 답글</p>
                                <p th:text="${comment.recomment}"></p>
                                <p th:text="${comment.recommentCreatedDate}"></p>
                                <button class="btn-secondary" type="button" th:id="recommentDeleteBtn" th:onclick="deleteRecomment([[${comment.recommentId}]]);" th:text="#{button.recommentDelete}"></button>
                            </div>
                            <div th:if="${comment.recommentId} == null">
                                <button class="btn-secondary"  th:if="${SELLER} == true" th:id="recommentFormBtn + ${comment.commentId}" type="button" th:onclick="uploadFormRecomment([[${comment.commentId}]]);" th:text="#{button.recommentUpload}"></button>
                                <input th:type="text" th:id="recommentForm + ${comment.commentId}" hidden>
                                <button class="btn-secondary" th:id="recommentUploadBtn + ${comment.commentId}" type="button" th:onclick="uploadRecomment([[${comment.commentId}]]);" th:text="#{button.recommentUpload}" hidden></button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="fragments/footer.html"></th:block>
</body>
<script>
    $('#buyBtn').on('click', function (){
        var itemId = document.getElementById("itemId").innerText;
        $.ajax({
            url: "/cart/" + itemId,
            type: "POST",
            success: function(data) {
                console.log("data : " + data);
                if (data == 'MEMBER_NO_EXIST') {
                    alert("회원가입 및 로그인을 먼저 진행해주세요.");
                    window.location.href = "/member/login";
                } else if (data == 'ITEM_NO_EXIST') {
                    alert("판매가 중단된 상품입니다.");
                    window.location.href = "/";
                } else if (data == 'MEMBER_IS_SELLER') {
                    alert("자기 자신이 판매 중인 상품은 장바구니에 추가가 불가능합니다.");
                }else if (data == 'ITEM_ALREADY_BOUGHT'){
                    alert("이미 구매한 상품입니다.");
                }else if(data == 'SUCCESS'){
                    alert("장바구니에 담았습니다.");
                }
            },
            error:function(){
                alert("다시 한 번 시도해주세요.");
            }
        });
    });

    $('#putCartBtn').on('click', function (){
        var itemId = document.getElementById("itemId").innerText;
        console.log("put cart Btn 동작");
        console.log("url : " + "/cart/" + itemId)
        $.ajax({
            url: "/cart/" + itemId,
            type: "POST",
            success: function(data) {
                console.log("data : " + data);
                if (data == 'MEMBER_NO_EXIST') {
                    alert("회원가입 및 로그인을 먼저 진행해주세요.");
                    window.location.href = "/member/login";
                } else if (data == 'ITEM_NO_EXIST') {
                    alert("판매가 중단된 상품입니다.");
                    window.location.href = "/";
                } else if (data == 'MEMBER_IS_SELLER') {
                    alert("자기 자신이 판매 중인 상품은 장바구니에 추가가 불가능합니다.");
                }else if (data == 'ITEM_ALREADY_BOUGHT'){
                    alert("이미 구매한 상품입니다.");
                }else if(data == 'SUCCESS'){
                    alert("장바구니에 담았습니다.");
                }
            },
            error:function(){
                alert("다시 한 번 시도해주세요.");
            }
        });
    });

    $('#commentUploadBtn').on('click', function (){
        var comment = document.getElementById("comment").value;
        var score = document.getElementById("score").value;
        var itemId = document.getElementById("itemId").innerText;
        $.ajax({
            url: "/comment/" + itemId,
            type: "POST",
            data: {
                'comment' : comment,
                    'score' : score
                },
            success: function(data){
                if(data == 'COMMENT_INPUT_INVALID') {
                    alert("후기 및 평점을 제대로 입력해주세요.");
                }else if (data == 'MEMBER_NO_EXIST'){
                    alert("회원가입 및 로그인을 먼저 진행해주세요.");
                    window.location.href = "/member/login";
                }else if(data == "ITEM_NO_EXIST"){
                    alert("판매자가 판매를 중단한 상품입니다.");
                    window.location.href = "/";
                }else if(data == "COMMENT_NO_PERMISSION_BUYING"){
                    alert("구매 후 후기를 남길 수 있습니다.");
                }else if (data == "COMMENT_ALREADY_WRITTEN"){
                    alert("후기는 한 번만 남길 수 있습니다.");
                }else if(data == "SUCCESS"){
                    alert("후기를 남겼습니다.");
                    window.location.href = "/item/" + itemId;
                }
            },
            error:function(){
                alert("다시 한 번 시도해주세요.");
            }
        });
    });
    function deleteComment(commentId){
        var itemId = document.getElementById("itemId").innerText;
        console.log("deleteComment 동작");
        $.ajax({
            url: "/comment/" + itemId + "/" + commentId,
            type: "DELETE",
            success: function(data){
                if(data == 'MEMBER_NO_EXIST'){
                    alert("회원가입 및 로그인을 먼저 진행해주세요.");
                    window.location.href = "/member/login";
                }
                else if (data == 'COMMENT_NO_EXIST'){
                    alert("이미 삭제된 후기입니다.");
                    window.location.href = "/item/" + itemId;
                }else if(data == "COMMENT_NO_PERMISSION_WRITER"){
                    alert("자신의 후기만 삭제할 수 있습니다.");
                }else if(data == "SUCCESS"){
                    alert("후기를 삭제했습니다.");
                    window.location.href = "/item/" + itemId;
                }
            },
            error:function(){
                alert("다시 한 번 시도해주세요.");
            }
        });
    }

    function uploadFormRecomment(commentId){
        document.getElementById("recommentFormBtn" + commentId).hidden = true;
        document.getElementById("recommentForm" + commentId).hidden = false;
        document.getElementById("recommentUploadBtn" + commentId).hidden = false;
    }

    function uploadRecomment(commentId){
        var itemId = document.getElementById("itemId").innerText;
        var comment = document.getElementById("recommentForm" + commentId).value;
        $.ajax({
            url: "/recomment/" + commentId,
            type: "POST",
            data: {
                "comment" : comment
            },
            success: function(data) {
                console.log("data : " + data);
                if (data == 'MEMBER_NO_EXIST') {
                    alert("회원가입 및 로그인을 먼저 진행해주세요.");
                    window.location.href = "/member/login";
                } else if (data == 'COMMENT_NO_EXIST') {
                    alert("존재하지 않는 후기입니다.");
                    window.location.href = "/item/" + itemId;
                } else if (data == 'MEMBER_NOT_SELLER') {
                    alert("판매 중인 상품에만 답글을 남길 수 있습니다.");
                }else if (data == 'RECOMMENT_ALREADY_WRITTEN'){
                    alert("기존에 답글을 이미 남기셨습니다.");
                }else if(data == "RECOMMENT_INPUT_INVALID") {
                    alert("답글을 제대로 입력해주세요.");
                }else if(data == 'SUCCESS'){
                    alert("답글 남기기 성공");
                    window.location.href = "/item/" + itemId;
                }
            },
            error:function(){
                alert("다시 한 번 시도해주세요.");
            }
        });
    }

    function deleteRecomment(recommentId){
        var itemId = document.getElementById("itemId").innerText;
        $.ajax({
            url: "/recomment/" + recommentId,
            type: "DELETE",
            success: function(data) {
                console.log("data : " + data);
                if (data == 'MEMBER_NO_EXIST') {
                    alert("회원가입 및 로그인을 먼저 진행해주세요.");
                    window.location.href = "/member/login";
                } else if (data == 'RECOMMENT_NO_EXIST') {
                    alert("존재하지 않는 답글입니다.");
                    window.location.href = "/item/" + itemId;
                } else if (data == 'RECOMMENT_NO_PERMISSION') {
                    alert("판매 중인 상품에만 답글을 남길 수 있습니다.");
                }else if(data == 'SUCCESS'){
                    alert("답글 삭제 성공");
                    window.location.href = "/item/" + itemId;
                }
            },
            error:function(){
                alert("다시 한 번 시도해주세요.");
            }
        });
    }

</script>
</html>