<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>상세페이지</title>
    <th:block th:replace="fragments/head.html"></th:block>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <th:block th:replace="fragments/header.html"></th:block>
    <div id="itemId" th:text="${item.itemId}" hidden></div>
    <img th:src="|/images/${item.thumbnailLocation}${item.thumbnailFileName}|" alt="썸네일페이지">
    제목 : <th:block th:text="${item.title}"/><br>
    내용 : <th:block th:text="${item.content}"/><br>
    가격 : <th:block th:text="${item.price}"/><br>
    작성자 : <th:block th:text="${item.username}"/><br>
    <br><br><br>
    <form th:action="@{/cart/{itemId}(itemId=${item.itemId})}" method="post">
        <input type="submit" value="장바구니에 추가하기">
    </form>
    <form th:action="@{/cart/{itemId}(itemId=${item.itemId})}" method="post">
        <input type="submit" value="구매하기">
    </form>
    <form th:action="@{/item/delete/{itemId}(itemId=${item.itemId})}" method="post">
        <input type="submit" value="상품 판매 중단하기">
    </form>
    <form th:action="@{/item/download/{itemId}(itemId=${item.itemId})}" method="post">
        <input type="submit" value="다운로드하기">
    </form>
    <br><br><br>
    작성된 후기!<br>
    <div th:each="comment : ${item.comments}">
        <div id="commentId" th:text="${comment.commentId}" hidden></div>
        <p>작성자 : <span th:text="${comment.username}"></span></p>
        <p>후기 : <span th:text="${comment.comment}"></span></p>
        <p>별점 : <span th:text="${comment.score}"></span></p>
        <p>작성날짜 : <span th:text="${comment.createdDate}"></span></p>
        <button id="commentDeleteBtn" th:text="#{button.commentDelete}"></button>
    </div>

    <form th:object="${commentForm}" method="post">
        <input type="text" placeholder="후기를 남겨주세요." th:field="*{comment}">
        <small th:text="#{form.comment.comment}"></small>
        <div class="field-error" th:errors="*{comment}"></div>
        <input type="number" min="0.0" max="5.0" th:field="*{score}">
        <small th:text="#{form.comment.score}"></small>
        <button id="commentUploadBtn" type="button" th:text="#{button.commentUpload}"></button>
    </form>
</body>
<script>
    $('#commentUploadBtn').on('click', function (){
        var comment = document.getElementById("comment").value;
        var score = document.getElementById("score").value;
        var itemId = document.getElementById("itemId").innerText;
        $.ajax({
            url: "/comment/write/" + itemId,
            type: "POST",
            data: {'comment' : comment,
                    'score' : score
                },
            success: function(data){
                if(data == 'COMMENT_INPUT_INVALID') {
                    alert("후기 및 평점을 제대로 입력해주세요.");
                }else if (data == 'MEMBER_NO_EXIST'){
                    alert("회원가입 및 로그인을 먼저 진행해주세요.");
                    window.location.href = "/member/login";
                }else if(data == "ITEM_NO_EXIST"){
                    alert("판매자가 판매를 중단한 상품입니다.");
                    window.location.href = "/";
                }else if(data == "COMMENT_NO_PERMISSION_BUYING"){
                    alert("구매 후 후기를 남길 수 있습니다.");
                }else if (data == "COMMENT_ALREADY_WRITTEN"){
                    alert("후기는 한 번만 남길 수 있습니다.");
                }else if(data == "SUCCESS"){
                    alert("후기를 남겼습니다.");
                    window.location.href = "/item/" + itemId;
                }
            },
            error:function(){
                alert("다시 한 번 시도해주세요.");
            }
        });
    });

    $('#commentDeleteBtn').on('click', function (){
        var itemId = document.getElementById("itemId").innerText;
        var commentId = document.getElementById("commentId").innerText;

        $.ajax({
            url: "/comment/delete/" + itemId + "/" + commentId,
            type: "POST",

            success: function(data){
                if(data == 'MEMBER_NO_EXIST'){
                    alert("회원가입 및 로그인을 먼저 진행해주세요.");
                    window.location.href = "/member/login";
                }
                else if (data == 'COMMENT_NO_EXIST'){
                    alert("이미 삭제된 후기입니다.");
                    window.location.href = "/item/" + itemId;
                }else if(data == "COMMENT_NO_PERMISSION_WRITER"){
                    alert("자신의 후기만 삭제할 수 있습니다.");
                }else if(data == "SUCCESS"){
                    alert("후기를 삭제했습니다.");
                    window.location.href = "/item/" + itemId;
                }
            },
            error:function(){
                alert("다시 한 번 시도해주세요.");
            }
        });
    });
</script>
</html>