<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>판매 내역</title>
    <th:block th:replace="fragments/head.html"></th:block>
</head>
<body>
    <th:block th:replace="fragments/header.html"></th:block>

    <div id="itemId" th:text="${item.itemId}" hidden></div>
    <img th:src="|/images/${item.thumbnailLocation}${item.thumbnailFileName}|" alt="썸네일페이지">
    제목 : <th:block th:text="${item.title}"/><br>
    내용 : <th:block th:text="${item.content}"/><br>
    가격 : <th:block th:text="${item.price}"/><br>
    작성자 : <th:block th:text="${item.username}"/><br>

    <br><br>
    판매 내역<br>
    <div th:each="order : ${orders}">
        <p>주문번호 : <span th:text="${order.orderId}"></span></p>
        <p>구매자 : <span th:text="${order.username}"></span></p>
        <p>구매 가격 : <span th:text="${order.orderPrice}"></span></p>
        <p>구매 날짜 : <span th:text="${order.createdDate}"></span></p>
    </div>
    <a th:if="${prevPageNum} != null" th:href="@{/member/item/{itemId}/{prevPageNum}(itemId = ${item.itemId}, prevPageNum = ${prevPageNum})}">...</a>
    <div th:if="${startPageNum} != null and ${endPageNum} != null">
        <th:block th:each="num : ${#numbers.sequence(startPageNum,endPageNum)}">
            <a th:href="@{/member/item/{itemId}/{pageNum}(itemId =${item.itemId}, pageNum = ${num})}" th:text="${num}"></a>
        </th:block>
    </div>
    <a th:if="${nextPageNum} != null" th:href="@{/member/item/{itemId}/{nextPageNum}(itemId = ${item.itemId}, nextPageNum = ${nextPageNum})}">...</a>
</body>
</html>