<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>비밀번호 재설정 페이지입니다.</title>
</head>
<body>
    새로운 비밀번호를 입력해주세요.
    <form action="/user/findPasswordModify" method="post">
        <input type="password" name="newpwd">
        <input type="submit" value="비밀번호변경하기">
    </form>
</body>
</html>