<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>마이페이지입니다.</title>
    <th:block th:replace="fragments/head.html"></th:block>
</head>
<body>
    <th:block th:replace="fragments/header.html"></th:block>
    안녕하세요~ <th:block th:text="${username}"/><br>
    내 포인트 : <th:block th:text="${balance}"/><br>

    <a href="/user/deposit">포인트충전하러가기</a>
    <a href="/user/order">주문내역보러가기</a>
    <a href="/user/sell">판매내역보러가기</a>
    <a href="/user/profile">프로필사진등록하기</a>
</body>
</html>