<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>판매내역</title>
    <th:block th:replace="fragments/head.html"></th:block>
</head>
<body>
<th:block th:replace="fragments/header.html"></th:block>

판매 내역<br>
<div th:each="selling : ${sellingList}">
    <p>구매자 : <span th:text="${selling.username}"></span></p>
    <p>구매날짜 : <span th:text="${selling.createdDate}"></span></p>
    <p>구매가격 : <span th:text="${selling.orderPrice}"></span></p>
    <br><br>
</div>
</body>
</html>