<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script
            src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
</head>
<body>
    <form id="testForm" th:action th:object="${testForm}" method="post">
        <input type="text" th:field="*{email}">
        <input type="submit" th:value="제출하기">
        <button type="button" id="emailButton" th:value="메일인증하기"></button>
    </form>
</body>
<script>
    $('#emailButton').on('click', function (){
        var email = document.getElementById("email").innerText;
        console.log("email보낸다");
        $.ajax({
            url: "test2",
            type: "POST",
            data: {'email' : email},
            success: function(){
                document.getElementById("email").readOnly = true;
                var emailCodeDiv = document.createElement("div");
                emailCodeDiv.id = "emailAuth";
                emailCodeDiv.innerHTML = "<input type='text' th:value='인증코드를 입력해주세요.'>";
                document.getElementById("testForm").appendChild(emailCodeDiv);
            },
            error:function(){
                alert("실패");
            }
        });
    });
</script>
</html>