<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>수정페이지</title>
    <th:block th:replace="fragments/head.html"></th:block>
</head>
<body>
    <th:block th:replace="fragments/header.html"></th:block>
    <form th:action="@{/comment/modify/{itemId}/{commentId}(itemId = ${itemId}, commentId=${comment.commentId})}"
          th:object = "${commentForm}" method="post">
        <input type="text" th:placeholder="${comment.comment}" th:field="*{comment}" th:value="${comment.comment}">
        <input type="number" th:placeholder="${comment.score}" min="1" max="5"  step="0.5" th:field="*{score}" th:value="${comment.score}">
        <input type="submit" value="후기수정하기">
    </form>
</body>
</html>

